html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(3, 123, 192);
  /* background: red; */
  text-align: center;
}

h1 span {
  color: grey;
}

main {
  display: flex;
  /* flex-direction: row-reverse; */
}

#sect-list {
  flex: 1;
  background-color: rgb(182, 216, 236);
  min-height: 200px;
  height: calc(100vh - 38px - 44px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  flex: 1;
  background-color: rgb(215, 241, 255);
  border-radius: 10px;
  margin-left: 1rem;
  padding: 2rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.control input {
  padding: 3px 7px;
}

.icon-important {
  color: rgb(3, 123, 192);
  font-size: 28px;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-important:hover {
  transform: rotate(-15deg);
}

.far {
  color: rgb(3, 123, 192);
}

.fas {
  color: rgb(0, 86, 136);
}

#btnVisibility {
  background: rgb(0, 86, 136);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  animation: grow infinite 0.8s linear alternate;
}

#btnVisibility:hover {
  background: rgb(0, 86, 136);
  color: white;
}

@keyframes grow {
  from {
    font-size: 16px;
  }
  to {
    font-size: 20px;
  }
}
