html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f1f1f1;
  overflow: hidden;
  font-family: 'Kalam', cursive;
}

button {
  font-family: 'Kalam', cursive;
}

h1 {
  color: grey;
  text-align: center;
}

h1 span {
  color: rgb(3, 123, 192);
}

main {
  display: flex;
  column-gap: 5rem;
}

#sect-list {
  flex: 2;
  overflow:auto;
  background-color: rgb(168, 225, 255);
  min-height: 200px;
  height: calc(100vh - 38px - 44px);
  border-radius: 10px;
  box-shadow: 4px 8px 30px -5px rgb(0, 0, 0, 0.13);
}

#form {
  flex: 1;
  height: 100%;
  background-color: rgb(168, 225, 255);
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 4px 8px 30px -5px rgb(0, 0, 0, 0.13);
}

section .form-container {
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
}

div.btn {
  text-align: center;
  margin-top: 2rem;
}

.btn-register {
  background: rgb(3, 123, 192);
  cursor: pointer;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  color: white;
  transition: 0.1s ease-in-out;
}

.btn-register:hover {
  background: rgb(0, 86, 136);
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.control input {
  padding: 3px 7px;
}

.icon-important {
  color: rgb(3, 123, 192);
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-important:hover {
  transform: rotate(-15deg);
}

.far {
  color: rgb(3, 123, 192);
  font-size: 1.5rem;
}

.fas {
  color: rgb(3, 123, 192);
  font-size: 1.5rem;
}

section#form{
  transition: all .7s ease-out;
}

.hide-form {
  position: relative;
  left: 30%;
}

.show-form {
  position: relative;
  left: 0;
}

/* Button show/hide */
main section#form {
  position: relative;
}

button#btnVisibility {
  position: absolute;
  top: 50%;
  left: -15%;
  z-index: 1;
}

#btnVisibility {
  animation: grow infinite 0.8s linear alternate;
  background: rgb(3, 123, 192);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  padding: .5rem;
  transition: 0.1s ease-in-out;
  width: 100px;

}

#btnVisibility::after {
  content: "";
  top: 23%;
  right: -3%;
  height: 15px;
  width: 15px;
  background: rgb(3, 123, 192);
  transform: rotate(-50deg);
  position: absolute;
  transition: 0.1s ease-in-out;
}

#btnVisibility:hover::after,
#btnVisibility:hover {
  background: rgb(0, 86, 136);
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
/* ----------------- */


/* Task section */
.task {
  background: #ffffff;
  border-radius: 6px;
  border: solid 1px lightgrey;
  width: 85%;
  padding: 1rem;
  margin-bottom: 10px;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  animation: appear  0.5s linear alternate;
  position: relative;
  box-shadow: 4px 8px 30px -5px rgb(0, 0, 0, 0.13);

}

@keyframes appear {
  0% {
    top: -15px;
  }

  100% {
    top: -10px;
  }

  100% {
    top: 0px;
  }
}

.task h5 {
  margin: 0;
  position: relative;
}

.task:hover {
  /* border-color: red; */
  border-left-width: 5px;
}

.task .info {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task .info h5 {
  font-size: 20px;
}
.task .info h4 {
  margin: .5rem 0;
  color: grey;
}

.task .info {
  position: relative;
}

.task .description {
  flex: 1;
  padding-left: 1rem;
  border-left: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.task .description p {
  margin: 0;
}

.task .icon-important-task {
  position: absolute;
  top: -.1rem;
  right: .1rem;
  animation: thumbUp infinite .5s linear alternate;
  box-shadow: 4px 8px 30px -5px rgb(0, 0, 0, 0.13);
}

.task .date {
  color: grey;
  font-size: 14px;
}
@keyframes thumbUp{
  from {
    transform: rotate(-5deg);
  }
  to {
  transform: rotate(-15deg);
  }
}

.input-error {
  border: solid 2px red;
}

.error {
  background: rgb(255, 174, 174);
  padding: .4rem;
  border: solid 2px tomato;
  color: rgb(192, 0, 0);
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  width: auto;
  font-weight: 200;
  animation: errorInput .4s linear alternate;
}

h6 {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

.icon-error-input {
  color: rgb(192, 0, 0);
  font-size: 14px;
}



@keyframes errorInput {
  0% {
    transform: translate(2px);
  }
  50% {
    transform: translate(8px);
  }

  75% {
    transform: translate(-2px);
  }

  100% {
    transform: translate(8px);
  }
}